<?php
define("DB_TYPE","mysql");//mysql || sqlite
define("DB_HOSTNAME","database hostname");
define("DB_NAME","database name");
define("DB_USERNAME","database username");
define("DB_PASSWORD","database password");
define("DB_CHARSET","utf8");
